:root{
  --bg: #3b4664;
  --resultbg: #181f32;
  --grid: #252d44;
  --buttons1: #647299;
  --buttons2: #d13f30;
  --buttonsColor: #444955;

}

body{
  background-color: var(--bg);
  color: white;
}

.result{
  background-color: var(--resultbg);
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  height: 1rem;
  padding: 2rem;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 2rem;

  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}

.buttons {
  margin: 2rem 1rem;
  background-color: var(--grid);
  padding: 1rem;
  margin: 2rem auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 2rem 1rem;
  width: 95%;
  margin: 0 auto;
}

.reset {
  grid-column: span 2;
  background-color: var(--buttons1);
  color: white;
}

.del{
  background-color: var(--buttons1);
  color: white;
}

.equal {
  grid-column: span 2;
  background-color: var(--buttons2);
  color: white;
}

button{
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 8px;
  color: var(--buttonsColor);
}

@media only screen and (min-width: 1000px){
  .buttons{
    width: 50%;
  }

  .result{
    width: 50%;
  }
}